.card-page {
  margin: 70px 300px 0 1px;
  display: grid;
  grid-template-columns: 152px 1fr;
  grid-template-rows: 5;
  grid-gap: 6px 30px;
  justify-content: center;
  align-items: center;
  min-height: 499px;

}
.return-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: lightslategrey;
  background-color: transparent;
  cursor: pointer;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 6;
}

.content {
  max-width: 650px;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .image {
    height: 70vh;
    width: 200px;
    &.item {
      height: 100%;
      object-fit: contain;
    }
  }
  .description {
    max-width: 400px;
    h3 {
      margin: 10px 0 10px;
      font-size: 17px;
      font-weight: bold;
    }
    p {
      color: grey;
    }
  }
}
