.searcher {
  margin-bottom: 24px;
}

.results {
  margin: 60px 0 48px;
  .link {
    text-decoration: none;
  }

  .cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
